<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <!-- Logo -->
            <a href="javascript:viod(0);" class="logo" [routerLink]="'/'">
                <span class="fa fa-book"></span>
                <span class="title">NY Times Best Seller Store</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="javascript:viod(0);" [routerLink]="'library'">Reading Queue</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>